body {
  padding: 0;
  margin: 0;
  color: #444;
  font: normal 14px/1.5 sans-serif;
}

.app__header {
  padding: 16px;
  margin: 16px;
  border-bottom: 1px palegreen dashed;
}

.app__main {
  display: flex;
  width: 100%;
}

.app__main__box {
  padding: 0 16px;
}

.app__main__box__inner {
  padding: 16px;
  border: 4px palegreen dashed;
}

.app__main__box:first-child {
  flex: 2;
}

.app__main__box:last-child {
  flex: 1;
}

.app__footer {
  font-size: 0.85em;
  text-align: center;
  color: #999;
  padding: 16px;
  margin: 16px;
  border-top: 1px palegreen dashed;
}